*{
    margin:0px auto ;
    padding: 0%;
    font-family: Helvetica;
    text-decoration: none;
    
}
body {
  background-image: url(gmbr.jpg);
  background-size: cover;
  
  
}
.lingkar{
  margin-top: 80px;
  background:rgba(245, 240, 240,0.7);
  padding: 3% 0px;
  border-radius: 20px;
  width: 25%;
  height: 200px;
  text-align: center;
  padding-left: 20px;

}
input[type=button]{
  width: 20%;
  height: 25px;
  text-align: center;
  border-radius: 30px;
  border: none;
  margin: 2px ;
}

.inputt{
  width: 50%;
  height: 35px;
  text-align: center;
  border-radius: 30px;
  border: none;
  margin: 2px ;
}

